#perfectMargin
{
  margin: 35px;
}

#saveButtonArrange
{
  margin-top: 40px;
  margin-left: 15px
}

#addNewProvider
{
  width: 500px;
  height: 100vh;
}

#columnGeneralInformations
{
  padding: 20px;
}

#columnAddressInformations
{
  padding-top: 25px;
}
