<div class="d-flex fixed-left fixed-top position-fixed flex-column
  flex-shrink-0 p-2 text-white bg-dark sidebar-dimensions">
  <a href="/home" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <h2 class="left-alignment-home-logo">CSmart</h2>
  </a>
  <hr>
  <ul class="nav">
    <li class="nav-item">
      <a class="text-white nav-link" routerLink="/employees">
        Employee
      </a>
    </li>
    <li class="nav-item">
      <a class="text-white nav-link" routerLink="/invoiceIns">
        Invoice In
      </a>
    </li>
    <li class="nav-item">
      <a class="text-white nav-link" routerLink="/invoiceOuts">
        Invoice Out
      </a>
    </li>
    <li class="nav-item">
      <a class="text-white nav-link" routerLink="/providers">
        Providers
      </a>
    </li>
    <li class="nav-item">
      <a class="text-white nav-link" routerLink="/workingPoints">
        Working Point
      </a>
    </li>
  </ul>
  <hr>
</div>

